asgiref==3.2.3
autopep8==1.4.4
certifi==2019.11.28
chardet==3.0.4
Django==3.0
django-filter==2.2.0
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
idna==2.8
Markdown==3.1.1
mysql-connector-python==8.0.18
pep8==1.7.1
Pillow==9.3.0
protobuf==3.11.0
pycodestyle==2.5.0
PyJWT==1.7.1
python-crontab==2.4.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
virtualenv==16.6.0
yapf==0.28.0
gunicorn
psycopg2
